# Project C138

## Getting Data

In [1]:
import pandas

shared_articles = pandas.read_csv("data/shared_articles.csv")
users_interactions = pandas.read_csv("data/users_interactions.csv")

## Showing Shared Articles Data

In [2]:
shared_articles.head()

,timestamp,eventType,contentId,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,title,text,lang
0,1459192779,CONTENT REMOVED,-6451309518266745024,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
1,1459193988,CONTENT SHARED,-4110354420726924665,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
2,1459194146,CONTENT SHARED,-7292285110016212249,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en
3,1459194474,CONTENT SHARED,-6151852268067518688,3891637997717104548,-1457532940883382585,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,Google Data Center 360° Tour,We're excited to share the Google Data Center ...,en
4,1459194497,CONTENT SHARED,2448026894306402386,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,https://bitcoinmagazine.com/articles/ibm-wants...,"IBM Wants to ""Evolve the Internet"" With Blockc...",The Aite Group projects the blockchain market ...,en

## Showing Users Interactions Data

In [3]:
users_interactions.head()

,timestamp,eventType,contentId,personId,sessionId,userAgent,userRegion,userCountry
0,1465413032,VIEW,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN
1,1465412560,VIEW,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
2,1465416190,VIEW,310515487419366995,-1130272294246983140,2631864456530402479,NaN,NaN,NaN
3,1465413895,FOLLOW,310515487419366995,344280948527967603,-3167637573980064150,NaN,NaN,NaN
4,1465412290,VIEW,-7820640624231356730,-445337111692715325,5611481178424124714,NaN,NaN,NaN

# Project C139

## Keeping Only "CONTENT SHARED" Event Type

In [4]:
shared_articles = shared_articles[shared_articles["eventType"] == "CONTENT SHARED"]
shared_articles.head()

,timestamp,eventType,contentId,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,title,text,lang
1,1459193988,CONTENT SHARED,-4110354420726924665,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
2,1459194146,CONTENT SHARED,-7292285110016212249,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en
3,1459194474,CONTENT SHARED,-6151852268067518688,3891637997717104548,-1457532940883382585,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,Google Data Center 360° Tour,We're excited to share the Google Data Center ...,en
4,1459194497,CONTENT SHARED,2448026894306402386,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,https://bitcoinmagazine.com/articles/ibm-wants...,"IBM Wants to ""Evolve the Internet"" With Blockc...",The Aite Group projects the blockchain market ...,en
5,1459194522,CONTENT SHARED,-2826566343807132236,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.coindesk.com/ieee-blockchain-oxford...,IEEE to Talk Blockchain at Cloud Computing Oxf...,One of the largest and oldest organizations fo...,en

## Sorting User Interactions Data

In [5]:
def find_total_event(users_interactions_row):
    total_likes = users_interactions[(users_interactions["contentId"] == users_interactions_row["contentId"]) & (users_interactions["eventType"] == "LIKE")].shape[0]
    total_views = users_interactions[(users_interactions["contentId"] == users_interactions_row["contentId"]) & (users_interactions["eventType"] == "VIEW")].shape[0]
    total_bookmarks = users_interactions[(users_interactions["contentId"] == users_interactions_row["contentId"]) & (users_interactions["eventType"] == "BOOKMARK")].shape[0]
    total_follows = users_interactions[(users_interactions["contentId"] == users_interactions_row["contentId"]) & (users_interactions["eventType"] == "FOLLOW")].shape[0]
    total_comments = users_interactions[(users_interactions["contentId"] == users_interactions_row["contentId"]) & (users_interactions["eventType"] == "COMMENT CREATED")].shape[0]
    
    return total_likes + total_views + total_bookmarks + total_comments + total_follows

users_interactions["total_events"] = users_interactions.apply(find_total_event, axis=1)
users_interactions = users_interactions.sort_values("total_events", ascending=False)
users_interactions.head()

,timestamp,eventType,contentId,personId,sessionId,userAgent,userRegion,userCountry,total_events
70621,1487338513,VIEW,-4029704725707465084,-8243020848740766897,-7728875955356518208,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,RJ,BR,433
69276,1487249039,VIEW,-4029704725707465084,-2511855597392146401,-5549434407648065757,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,MG,BR,433
70878,1487273403,VIEW,-4029704725707465084,6013226412048763966,-6569695881431984742,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SP,BR,433
69270,1487249391,VIEW,-4029704725707465084,-2353507205274319323,4044605008230921180,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,SP,BR,433
71082,1487246871,VIEW,-4029704725707465084,6013226412048763966,-6569695881431984742,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,SP,BR,433

# Project C140

In [18]:
def convert_lowercase(x):
    if isinstance(x, str):
        return x.lower()
    else:
        return ''

shared_articles["title"] = shared_articles["title"].apply(convert_lowercase)
shared_articles.head()

,level_0,index,timestamp,eventType,contentId,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,title,text,lang
0,0,1,1459193988,CONTENT SHARED,-4110354420726924665,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"ethereum, a virtual currency, enables transact...",All of this work is still very early. The firs...,en
1,1,2,1459194146,CONTENT SHARED,-7292285110016212249,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,bitcoin future: when gbpcoin of branson wins o...,The alarm clock wakes me at 8:00 with stream o...,en
2,2,3,1459194474,CONTENT SHARED,-6151852268067518688,3891637997717104548,-1457532940883382585,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,google data center 360° tour,We're excited to share the Google Data Center ...,en
3,3,4,1459194497,CONTENT SHARED,2448026894306402386,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,https://bitcoinmagazine.com/articles/ibm-wants...,"ibm wants to ""evolve the internet"" with blockc...",The Aite Group projects the blockchain market ...,en
4,4,5,1459194522,CONTENT SHARED,-2826566343807132236,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.coindesk.com/ieee-blockchain-oxford...,ieee to talk blockchain at cloud computing oxf...,One of the largest and oldest organizations fo...,en

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(shared_articles["title"])

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [21]:
shared_articles = shared_articles.reset_index(drop=True)
indices = pandas.Series(shared_articles.index, index=shared_articles['contentId'])

ValueError: cannot insert level_0, already exists

In [6]:
def get_recomendations(contentId, cosine_sim):
    idx = indices[contentId]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return shared_articles["contentId"].iloc[movie_indices]

In [21]:
recomendation = get_recomendations(-4110354420726924665, cosine_sim)
print(f"You should also try watching these: \n{recomendation}")

SyntaxError: invalid syntax (<ipython-input-21-053b0e714c06>, line 1)

In [20]:
shared_articles.to_csv("data/articles_data.csv")